body{

    background-image:url(../Images_arpasys/metal_patern.jpg);
    background-repeat: repeat;

}

/* refonte du panel-warning */

.panel-body{

    background-color: rgba(253, 144, 19, 0.15);

}

.panel-warning {
    border-color: rgba(253, 144, 100, 0.6);
  }
  .panel-warning > .panel-heading {
    color: #ad531e;
    background-color: rgba(253, 144, 19, 0.8);
    border-color: rgba(253, 144, 100, 0.6);
  }
  .panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(253, 144, 100, 0.6);
  }
  .panel-warning > .panel-heading .badge {
    color: rgba(253, 144, 19, 0.8);
    background-color: #ad531e;
  }
  .panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(253, 144, 100, 0.6);
  }

  /* fin de la refonte du panel-warning */
  
.container, .nav, .navbar, .navbar-inverse{

    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border-radius: 15px;
    color: white;
    
}

.panel{

    color: #111;

}

.img_index{

    height: 150px;
    width: auto;
    float: left;
    margin: 15px;

}

.img_cadre{

    height: 150px;
    width: 250px;
    padding-bottom: 15px;
    margin: auto;
}

.img_cadre_lg{

    height: 300px;
    width: 500px;
    padding-bottom: 15px;

}

.img_cadre_page_seule{

    height: 150px;
    width: 250px;
    padding-bottom: 15px;

}

/* .toto{
    display: block;
    margin:0 auto 0 auto;
    width:100px;
    height:100px;
    background-image:url();
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: center;
} */

/* .row [class^="col-"] {
    
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
} */

.div_text{

    border-right: 2px solid #111;

}

.zone_annexe{

    border-left: 2px solid rgba(253, 144, 19, 1);;
    border-bottom: 2px solid rgba(253, 144, 19, 1);;
    padding-top: 15px;
    margin-left: -15px;

}

h3{

    background-color: rgba(253, 144, 19, 0.8);
    border-radius: 25px;

}

.photo_area{

    padding-bottom: 15px;

}

.pdf_area{

    padding-bottom: 15px;

}

p{

    margin:15px;

}

.btn-return{

    margin: auto 15px auto 15px;
    padding: 15px 15px 15px 15px;

}

.sub_div_tab{

    padding: auto 15px auto 15px;
    
}

blockquote{
    
    border-color:  rgba(253, 144, 19, 1);
    
}

.description{
    
    padding-left: 20px;

}

.btn_espace{

    margin-bottom: 15px;

}